<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <title>Home</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <div th:replace="fragments/styles.html :: styles"/>
</head>
<body>

<div th:replace="fragments/header.html :: header"/>


<div class="container">
    <div class="content">
        <div class="jumbotron" style="">
            <h1 class="display-4">Paster</h1>
            <p class="lead">A simple, anonymous text hosting site.</p>
            <p>No personal information is saved.</p>
            <a class="btn btn-primary btn-lg" href="/paste" role="button">Upload your paste</a>
        </div>
    </div>
</div>
</div>
</body>
</html>