<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <div th:replace="fragments/styles.html :: styles"/>
    <title>Recent Pastes</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<div class="container">
    <div class="content">
        <div class="card" style="margin-top">
            <h1 style="text-align: center;">Recent pastes</h1>
            <div class="card-title" style="text-align: center;">
                <h1 class="display-4" th:text="${title}"></h1>
            </div>
            <div class="scroll">
                <div class="card-body">
                    <div class="card-text" th:each="entry, status: ${list}">
                        <a th:href="@{/pastes/} + ${entry.getId()} " th:text="${entry.getTitle()}"></a>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

</body>
</html>